$maincolor: #000;
$secondarycolor: rgb(255, 255, 255);
$highlihgts:grey;
@mixin hover(){
	background: -webkit-linear-gradient(lighten($maincolor,30%), darken($secondarycolor,30%));
	background: -o-linear-gradient(lighten($maincolor,30%), darken($secondarycolor,30%));
	background: linear-gradient(lighten($maincolor,30%), darken($secondarycolor,30%));
}