$maincolor: #000;
$secondarycolor: purple;
$thirdcolor: white;
@mixin hover(){
	background: -webkit-linear-gradient(lighten($maincolor,30%), darken($thirdcolor,30%));
	background: -o-linear-gradient(lighten($maincolor,30%), darken($thirdcolor,30%));
	background: linear-gradient(lighten($maincolor,30%), darken($thirdcolor,30%));
}