/*====================
----Youtube videos----
====================*/
.goodbye_song {
    position: fixed;
    right: -200em;
}
.shape_of_you_song {
    position: fixed;
    right: -200em;
}
.What_do_i_know_song {
    position: fixed;
    right: -200em;
}
.remote_controller_song {
    position: fixed;
    right: -200em;
}
.eraser_song {
    position: fixed;
    right: -200em;
}
.hand_in_hand_song {
    position: fixed;
    right: -200em;
}

/*-------------------------------------*/
.dagskra {
    margin: 0 auto;
    padding: 1em;
    text-align: center;
tr:nth-child(odd) {
    color: black;
a{
    color: $maincolor;
}
}
td {
    padding: .5em;
    border: 1px solid lighten($highlights,20%);
}
.dagskra_flytjandi a:hover {
    color: $highlights;
}
tr:nth-child(even){
	color:$secondarycolor;
	background:$maincolor;
	a{
		color:$secondarycolor;
	}
}
input{
	display: none;
}
input+label{
	cursor: pointer;
}
}


.dagskra_lag {
    text-decoration: underline;
}
.dagskra_lag:hover{
	color:$highlights;
}

/*----------------------------------------------------------*/
.timetable{
    min-width: 100%;
    min-height: 10em;
    border-bottom: $highlights solid 1px;
    border-top: $highlights solid 1px;
    padding: 2em;
    margin-top: 3em;
}

