/*====================
----Youtube videos----
====================*/
.goodbye_song {
    position: fixed;
    right: -200em;
}
.shape_of_you_song {
    position: fixed;
    right: -200em;
}
.What_do_i_know_song {
    position: fixed;
    right: -200em;
}
.remote_controller_song {
    position: fixed;
    right: -200em;
}
.eraser_song {
    position: fixed;
    right: -200em;
}
.hand_in_hand_song {
    position: fixed;
    right: -200em;
}
.videos{
    margin-top: 0px;
    min-width: 100%;
    min-height: 400px;
    border-bottom: $highlights solid 1px;
}

/*-------------------------------------*/

.dagskra {
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    tr:nth-child(odd) {
        color: black;
    a {
        color: $maincolor;
    }
}
td {
    padding: .5em;
    border: 1px solid lighten($highlights,20%);
}
.dagskra_flytjandi a:hover {
    color: $highlights;
}
tr:nth-child(even){
	color:$secondarycolor;
	background:$maincolor;
	a{
		color:$secondarycolor;
	}
}
input{
	display: none;
}
input+label{
	cursor: pointer;
}
}


.dagskra_lag {
    text-decoration: underline;
}
.dagskra_lag:hover{
	color:$highlights;
}

.songpopup1{
  display: none;
  position: fixed;
  z-index: 1;
  left:0;
  top:0;
  right:0;
  width:100%;
  height:100%;
  overflow: auto;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.4);
}
/*----------------------------------------------------------*/
.timetable{
    min-width: 100%;
    min-height: 10em;
    border-bottom: $highlights solid 1px;
    border-top: $highlights solid 1px;
    padding: 2em;
    margin-top: 3em;
}

/*=========================================
            video functionality
============================================*/

.video_1:checked~.goodbye_song{
    position: absolute;
    right: 33.33%;
    top: 40em;
}

/*=========================================
            Minni Skjáir
============================================*/

@media screen and (max-width: 37.5em) {
    .dagskra {
        width: 100%;
    }
    .dagskra thead {
        display: none;
    }
    .dagskra td {
        display: block;
    }
    .dagskra tr {
        display: block;
        margin-bottom: .75em;
    }
    .dagskra tr {
        text-align: right;
    }
    table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
}