*, 
*:before, 
*:after
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
	display:grid;
	grid-template-areas:
		'head'
		'main'
		'foot';
}
header{
	grid-area:'head';
	width: 100%;
	background: $maincolor;
	color: white;
	text-align: center;
	padding: 1.2em;
	border: darken($secondarycolor,30%) solid 2px;
}
.content{
	grid-area:'main';
}
footer{
	grid-area:'foot';
}
.hype_texti{
    width: 50%;
    -webkit-align-self: center;
    justify-self: center;
}
.sidenav{
	visibility:visible; 
	position: fixed;
	right:-100em;
	overflow: hidden;
	transition: all .15s ease;
	z-index: 1000000;
	ul{
		width: 100%;
		justify-content: center;
		width: 100%;
		height: 200px;
	}
	li{
		height: 50px;
		width: 100%;
		margin-top:2px;
		list-style: none;
		flex-grow: 1;
		border: 1px solid darken($secondarycolor,30%);
		background: $maincolor;
		a{
			display: block;
			width: 100%;
			height: 100%;
			padding: 13px;
			text-align: center;
			color: white;
			text-decoration: none;
			justify-content: baseline;
		}
		a:hover{
			@include hover;
		}
	}
	.Efni{
		display: none;
	}
	label{
		color: white;
		cursor: pointer;
		display: inline-block;
		font-size: 18px;
		padding: 5px 9px;
		transition: all .15s ease;
		background: black;
		text-align: center;
		border: $secondarycolor solid 1px;
	}
	.Efni+label{
		visibility: visible; 
		position: fixed;
		bottom:0px;
		right:0px;
		width: 100%;
		z-index: 1000000;
	}
	label:hover {
		color: $highlights;
	}
	.Efni:checked+label {
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
		color: #9799a7;
	}
	.Efni:checked ~ .topmenu {
		visibility: visible;
		position: fixed;
		right:20px;
		bottom:80px;
		width:100%;
		z-index: 1000;
	}
}
@media screen and (min-width: 48em){
	.sidenav{
		visibility:none; 
	 	position: fixed;
	 	left:-400em;
	 	overflow: hidden;
	 	transition: all .15s ease;
		height: 50px;
		ul{
			width:	20em;
			height: 50px;
			justify-content: center;
		}
		li{
			height: 50px;
			width: 20em;
			margin-top:5px;
			list-style: none;
		 	z-index: 1000000;
			flex-grow: 1;
			border: 1px solid darken($secondarycolor,30%);
			a{
				display: block;
				width: 20em;
				height: 50px;
				padding: 13px;
				text-align: center;
				color: white;
				text-decoration: none;
			}
			a:hover{
				@include hover;
			}
		}
		label {
		  color: white;
		  cursor: pointer;
		  display: inline-block;
		  text-align: center;
		  font-size: 18px;
		  padding: 15px;
		  transition: all .15s ease;
		  background: black;
		}
		.Efni + label{
		  visibility:visible; 
		  position:fixed;
		  top:100px;
		  left: 0px;
		  width: 50px;
		  height: 50px;
		  z-index: 1000000000;
		}
		label:hover {
		  color: grey;
		}
		.Efni:checked + label {
		  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
		  color: #9799a7;
		}
		.Efni:checked ~ .topmenu {
		  visibility: visible;
		  position:fixed;
		  left:0px;
		  top:10em;
		  width: 20em;
		  z-index: 1000000;
		}
		.topmenu{
			padding:0px;
			margin:0px;
		}
	}

}
