body {
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    border-bottom: 2px solid $maincolor;
    padding: 1em;
    justify-content: center;
    h1 {
        font-family: 'Do Hyeon', sans-serif;
        font-weight: 100;
        letter-spacing: .2em;
        color: $secondarycolor;
        text-align: center;
    }
    img {
        width: 2.5em;
        height: 2.5em;
        margin: auto 1em;
    }
}
.hype_texti {
    color: $maincolor;
    text-align: center;
    h2{
    	border-bottom: $highlights 1px solid;
	}
}